{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <title>Bigbox</title>
</head>
<body>
    <div class="container">
        <h1 class="name">{{ activity.name }}</h1>
        <h2>Descripcion</h2>
        <p>{{ activity.description }}</p>
        <div class="bulleted-list">
            <h2>Razones</h2>
            <ul>
                {% for reason in activity.reasons.all %}
                    <li>
                        <div>
                            <h3>{{ reason.name }}</h3>
                        </div>
                    </li>    
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>